In [12]:
import mysql.connector

local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'al814821!@'
)

In [13]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    user = 'admin',
    password = 'al814821!#'
)

In [14]:
local.close

In [15]:
remote.close

In [16]:
local = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'al814821!@',
    database = 'zerobase'
)

local.close

In [17]:
import mysql.connector

remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

remote.close

In [21]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute('create table sql_file (id int, filename varchar(16))')

remote.close

In [22]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor()
cur.execute('drop table sql_file')

remote.close

In [1]:
import mysql.connector


remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open('test02.sql').read()
cur.execute(sql)

remote.close

In [28]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor()
sql = open('test04.sql').read()
for result_iterator in cur.execute(sql, multi=True): # 쿼리문이 여러개일 시 multi=True 설정
    if result_iterator.with_rows:
        print(result_iterator.fetchall())
    else:
        print(result_iterator.statement)

remote.commit()
remote.close

insert into sql_file values (1, 'test01.sql')
insert into sql_file values (2, 'test02.sql')
insert into sql_file values (3, 'test03.sql')
insert into sql_file values (4, 'test04.sql')

In [46]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor(buffered=True) # 읽어올 양이 많은 경우 buffered=True 설정 필요
cur.execute('select * from sql_file')

result = cur.fetchall()
print(result)


remote.close()

[(1, 'test01.sql'), (2, 'test02.sql'), (3, 'test03.sql'), (4, 'test04.sql')]

In [47]:
remote = mysql.connector.connect(
    host = 'database-1.cyxv9d9wcbhr.us-east-2.rds.amazonaws.com',
    port = 3306,
    user = 'admin',
    password = 'al814821!#',
    database = 'zerobase'
)

cur = remote.cursor(buffered=True) 
cur.execute('select * from sql_file')

result = cur.fetchall()
for result_iterator in result:
    print(result_iterator)

remote.close()

(1, 'test01.sql')
(2, 'test02.sql')
(3, 'test03.sql')
(4, 'test04.sql')

In [49]:
import pandas as pd

df = pd.DataFrame(result)
df.head()

   0           1
0  1  test01.sql
1  2  test02.sql
2  3  test03.sql
3  4  test04.sql